<!DOCTYPE html>
<html>
<head>
</head>
<body>

<% if @link.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@link.errors.count, "error") %> prohibited this restaurant from being saved: </h2>
    <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @link do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %>

</body>
</html>